* {
    padding: 0;
    margin: 0;
}

html {
    background-color: white;
}

h1 {
    background-color: gray;
    height: 50px;
    color: white;
    text-align: center;
    font-weight: bolder;
    margin: 10px 0px 10px 0px;
}

hr {
    color: gray;
}

div.footer {
    padding: 0.5em;
    color: white;
    background-color: gray;
    clear: left;
    text-align: center;
}

.container {
    text-align: center;
}

/*  BFC 清楚浮动*/
#navigation {
    display: inline-block;
    position: relative;
}

#navigation, #navigation li ul {
    list-style-type: none;
}

#navigation li {
    float: left;
    text-align: center;
    position: relative;
    display: inline;
}

#navigation li a:link, #navigation li a:visited {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #bebebe;
    width: 120px;
    text-align: center;
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    border: 1px solid #fff;
    border-width: 1px 1px 0 0;
    padding-left: 10px;
}

#navigation li a:hover {
    background-color: #735ec8;
}

#navigation li ul li a:hover {
    background-color: #464bad;
}

#navigation li ul {
    display: none;
    position: absolute;
    left: 0;
    width: 120px;
}

/* hover显示下方导航 */
#navigation a:hover + ul {
    cursor: pointer;
    display: block;
}

#navigation a + ul:hover {
    display: block; /* hover 自身依旧显示 */
    z-index: 999; /* 覆盖下方元素 */
}
